<div class="ml">メール一覧</div>

    <li>
      <div class="mail-datail">
        <p class="mail-list">[コミュニティへの招待メール]あああああああああああああ</p>
        <a href="#" class="btn-flat-simple">
          <i class="fa fa-caret-right"></i> 参加
        </a>
      </div>

        <ul class="inner">
            <li class="mail-of-text">にしきの新しいスケジュール帳はこれで決まりだ。少し大きいけど見やすくて便利だよ。</li>
        </ul>
    </li>

    <li>
      <div class="mail-datail">
        <p class="mail-list">[コミュニティへの招待メール]あああああああああああああ</p>
        <a href="#" class="btn-flat-simple">
          <i class="fa fa-caret-right"></i> 参加
        </a>
      </div>

        <ul class="inner">
            <li class="mail-of-text">にしきの新しいスケジュール帳はこれで決まりだ。少し大きいけど見やすくて便利だよ。</li>
        </ul>
    </li>
