<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Handshakes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <div class="ml">メール一覧</div>
<ul class="mail-datail">
  <li>
      <p class="btn-flat-simple">
        <i class="fa fa-caret-right"></i> 参加
      </p>
      <p class="mail-list button-link">[コミュニティへの招待メール]あああああああああああああ</p>
      <div class="mail-of-text">にしきの新しいスケジュール帳はこれで決まりだ。少し大きいけど見やすくて便利だよ</div>
  </li>
    <li>
        <p class="btn-flat-simple">
          <i class="fa fa-caret-right"></i> 参加
        </p>
        <p class="mail-list button-link">[コミュニティへの招待メール]あああああああああああああ</p>
        <div class="mail-of-text">にしきの新しいスケジュール帳はこれで決まりだ。少し大きいけど見やすくて便利だよ</div>
    </li>
    <li>
        <p class="btn-flat-simple">
          <i class="fa fa-caret-right"></i> 参加
        </p>
        <p class="mail-list button-link">[コミュニティへの招待メール]あああああああああああああ</p>
        <div class="mail-of-text">にしきの新しいスケジュール帳はこれで決まりだ。少し大きいけど見やすくて便利だよ</div>
    </li>
    <li>
        <p class="btn-flat-simple">
          <i class="fa fa-caret-right"></i> 参加
        </p>
        <p class="mail-list button-link">[コミュニティへの招待メール]あああああああああああああ</p>
        <div class="mail-of-text">にしきの新しいスケジュール帳はこれで決まりだ。少し大きいけど見やすくて便利だよ</div>
    </li>
    <li>
        <p class="btn-flat-simple">
          <i class="fa fa-caret-right"></i> 参加
        </p>
        <p class="mail-list button-link">[コミュニティへの招待メール]あああああああああああああ</p>
        <div class="mail-of-text">にしきの新しいスケジュール帳はこれで決まりだ。少し大きいけど見やすくて便利だよ</div>
    </li>
    <li>
        <p class="btn-flat-simple">
          <i class="fa fa-caret-right"></i> 参加
        </p>
        <p class="mail-list button-link">[コミュニティへの招待メール]あああああああああああああ</p>
        <div class="mail-of-text">にしきの新しいスケジュール帳はこれで決まりだ。少し大きいけど見やすくて便利だよ</div>
    </li>
    <li>
        <p class="btn-flat-simple">
          <i class="fa fa-caret-right"></i> 参加
        </p>
        <p class="mail-list button-link">[コミュニティへの招待メール]あああああああああああああ</p>
        <div class="mail-of-text">にしきの新しいスケジュール帳はこれで決まりだ。少し大きいけど見やすくて便利だよ</div>
    </li>
    <li>
        <p class="btn-flat-simple">
          <i class="fa fa-caret-right"></i> 参加
        </p>
        <p class="mail-list button-link">[コミュニティへの招待メール]あああああああああああああ</p>
        <div class="mail-of-text">にしきの新しいスケジュール帳はこれで決まりだ。少し大きいけど見やすくて便利だよ</div>
    </li>

  </ul>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <script src="application"></script>

    </body>
</html>
