<h2>Q＆A</h2>
<ul class="syncer-acdn-parent">
	<li class="question-question"><p><a class="syncer-acdn" data-target="syncer-acdn-03">Q.コミュニティの使い方が分かりません。
</a></p>
		<ul id="syncer-acdn-03" class="syncer-acdn-child">
			<li class="question-anser"><a class="question-anser2 href="#syncer-acdn-01">答え</a></li>
		</ul>
	</li>

	<li class="question-question"><p><a class="syncer-acdn" data-target="syncer-acdn-04">Q.アプリに対しての改善点やフィードバックを返したい場合は、コミュニティかフィードバック送信どちらで返したらいいですか。
</a></p>
		<ul id="syncer-acdn-04" class="syncer-acdn-child">
			<li class="question-anser"><a class="question-anser2 href="#syncer-acdn-02">２答え</a></li>
		</ul>
	</li>

  <li class="question-question"><p><a class="syncer-acdn" data-target="syncer-acdn-05">Q.報告の基準が分かりません。
</a></p>
		<ul id="syncer-acdn-05" class="syncer-acdn-child">
			<li class="question-anser"><a class="question-anser2 href="#syncer-acdn-03">３答え</a></li>
		</ul>
	</li>

  	<li class="question-question"><p><a class="syncer-acdn" data-target="syncer-acdn-06">Q.個人情報は何に使っているのですか？
  </a></p>
  		<ul id="syncer-acdn-06" class="syncer-acdn-child">
  			<li class="question-anser"><a class="question-anser2 href="#syncer-acdn-04">4答え</a></li>
  		</ul>
  	</li>

    <li class="question-question"><p><a class="syncer-acdn" data-target="syncer-acdn-07">Q.コミュニティから抜けるにはどうしたらいいですか？
  </a></p>
  		<ul id="syncer-acdn-07" class="syncer-acdn-child">
  			<li class="question-anser"><a class="question-anser2 href="#syncer-acdn-05">5答え</a></li>
  		</ul>
  	</li>

    <li class="question-question"><p><a class="syncer-acdn" data-target="syncer-acdn-08">Q.報告されるとどうなりますか？
    </a></p>
      <ul id="syncer-acdn-08" class="syncer-acdn-child">
        <li class="question-anser"><a class="question-anser2 href="#syncer-acdn-06">6答え</a></li>
      </ul>
    </li>

    <li class="question-question"><p><a class="syncer-acdn" data-target="syncer-acdn-09">Q.画像が読み込めません
    </a></p>
      <ul id="syncer-acdn-09" class="syncer-acdn-child">
        <li class="question-anser"><a class="question-anser2 href="#syncer-acdn-07">7答え</a></li>
      </ul>
    </li>

</ul>
