<div class="syncer-acdn-parent">
  <div class="qa">Q＆A</div>

  	<div class="question-question">
      <li>
        <a class="syncer-acdn button-link" data-target="syncer-acdn-01">Q.コミュニティの使い方が分かりません。</a>
    		<div id="syncer-acdn-01" class="syncer-acdn-child"><a>A.</a></div>
      </li>
      <li>
        <a class="syncer-acdn button-link" data-target="syncer-acdn-02">Q.アプリに対しての改善点やフィードバックを返したい場合は、コミュニティかフィードバック送信どちらで返したらいいですか。</a>
    		<div id="syncer-acdn-02" class="syncer-acdn-child"><a>A.</a></div>
      </li>
      <li>
        <a class="syncer-acdn button-link" data-target="syncer-acdn-03">Q.報告の基準が分かりません。</a>
    		<div id="syncer-acdn-03" class="syncer-acdn-child"><a>A.</a></div>
      </li>
      <li>
        <a class="syncer-acdn button-link" data-target="syncer-acdn-04">Q.個人情報は何に使っているのですか？</a>
        <div id="syncer-acdn-04" class="syncer-acdn-child"><a>A.</a></div>
      </li>
      <li>
        <a class="syncer-acdn button-link" data-target="syncer-acdn-05">Q.コミュニティから抜けるにはどうしたらいいですか？</a>
        <div id="syncer-acdn-05" class="syncer-acdn-child"><a>A.</a></div>
      </li>
      <li>
        <a class="syncer-acdn button-link" data-target="syncer-acdn-06">Q.報告されるとどうなりますか？</a>
        <div id="syncer-acdn-06" class="syncer-acdn-child"><a>A.</a></div>
      </li>
      <li>
        <a class="syncer-acdn button-link" data-target="syncer-acdn-07">Q.画像が読み込めません</a>
        <div id="syncer-acdn-07" class="syncer-acdn-child"><a>A.</a></div>
      </li>
    </div>
</div>
