/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 // Place all the styles related to the home controller here.
 // They will automatically be included in application.css.
 // You can use Sass (SCSS) here: http://sass-lang.com/
 /* reset ================================ */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 * {
   box-sizing: border-box;
 }

 html {
   font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
   line-height: 1.7;
   letter-spacing: 1px;
 }

 ul, li {
   list-style-type: none;
   padding: 0;
   margin: 0;
 }

 a {
   text-decoration: none;
   color: #2d3133;
   font-size: 14px;
 }

 h1, h2, h3, h4, h5, h6, p {
   margin: 0;
 }


 input {
   background-color: transparent;
   outline-width: 0;
 }

 form input[type="submit"] {
   border: none;
   cursor: pointer;
 }

 /* 共通レイアウト ================================ */

 body {
   color: #424a4f;
   background-color: rgba(230, 230, 230, 1);
   margin: 0;
   min-height: 1vh;
   margin-top: 60px;

 }

 .main {
   position: absolute;
   top: 64px;
   width: 100%;
   height: auto;
   min-height: 100%;
   background-color: #f5f8fa;
 }

 .container {
   max-width: 600px;
   margin: 60px auto;
   padding-left: 15px;
   padding-right: 15px;
   clear: both;
 }

 .button-link{

 }

 .button-link:hover{
 	cursor:pointer;
 	color:#f00;
 }

 /* ヘッダー ================================ */
 header {
   transform: translate3d(0, 0, 0);
   height: 60px;
   position: fixed;
   top:0;
   z-index: 10;
   width: 100%;
   background-color: rgba(70, 20, 10, 1);
 }

 .header-logo {
   float: left;
   padding-left: 20px;
   color: white;
   font-size: 22px;
   line-height: 50px;
 }
 .header-logo img{
   width: 250px;
   height: 70px;
 }

 .header-logo a{
   color: white;
   font-size: 40px;
 }
 .header-menus {
   float: right;
   padding-right: 20px;
   position:fixed;
   margin-left: 1000px;
 }

 .header-menus li {
   float: left;
   line-height: 64px;
   font-size: 13px;
   color: white;
   padding-left: 15px;
 }

 .header-menus img{
   width: 45px;
   height: 45px;
 }

 .header-menus a {
   float: left;
   font-size: 13px;
   color: white;
 }

 .header-menus .fa {
   padding-right: 5px;
 }

 .header-menus input[type="submit"] {
   padding: 0 20px;
   float: left;
   line-height: 64px;
   color: white;
   margin: 0;
   font-size: 13px;
 }
 .user-name{
   text-align: center;
   font-size: 20px;
   border-bottom: solid 5px #87CEFA;
   margin: 0 20px 10px 20px;
 }

 .action-menus{
   float: right;
   display: inline-block;
   margin-left: 5px;
 }

 .action-menus li{
   float: left;
   line-height: 0px;
   font-size: 13px;
   color: white;
 }

 .menus-button{
   margin-right: 5px;
   margin-top: 5px;
   background-color: rgba(70, 20, 10, 1);
 }
 .menus-button img{
   width: 60px;
   height: 60px;
 }
 .action-menus li:nth-of-type(1) img{
   width: 50px;
   height: 50px;
   margin:5px;
 }
 .action-menus li:nth-of-type(2) img{
   width: 60px;
   height: 50px;
   margin:5px 0;
 }
 .action-menus li:nth-of-type(3) img{
   width: 50px;
   height: 50px;
   margin:5px;
 }
 .action-menus li:nth-of-type(5) img{
   width: 50px;
   height: 50px;
   margin: 0 5px 10px;
 }

 .account-img img{
   width: 100px;
   height: 100px;
   margin: 0 50px 20px 50px;
 }
 .action-option {
   color: #fff;
   font-size: 17px;
   margin-top:350px;
 }

 .action-option p{
   background-color: rgba(70, 20, 10, 1);
   padding-left: 10px;
   margin-top: 10px;
 }

 .push-close img{
  float:right;
  width:30px;
  height:30px;
  margin-right: 20px;
}
.modal-content-set{
  position: relative;
}
.push-submit{
  position: absolute;
  top:0px;
  left: 450px;
}

.submit-text textarea{
    resize: none;
    width:95%;
    height:260px;
    margin:0px 15px 10px 15px;
    border:none;
    border-radius:5px;
    box-shadow: none;
    background-color: rgba(200, 200, 200, 1);
    padding: 2px 8px;
}
.submit-text textarea:focus{
  outline: none;
}

.content-checkbox{
  margin: 30px 0 0 30px;
}

.content-checkbox p{
  float: left;
  display: inline-block;
  margin-right: 40px;
}

#p01{
  display: none;
}
#p01 input{
  resize: none;
  width:95%;
  height:40px;
  margin:15px 15px 5px 15px;
  border:none;
  border-radius:5px;
  box-shadow: none;
  background-color: rgba(200, 200, 200, 1);
  padding: 2px 8px;
}
#p01 input:focus{
  outline: none;
}

#p02 {
  height:40px;
  margin:75px 15px 5px 15px;
  resize: none;
  display: none;
}

#content-title {
float: left;
}

 #modal-open{
   float: left;
   line-height: 64px;
   font-size: 13px;
   color: white;
   padding-left: 15px;
 }

 #modal-content{
	width:45%;
  height:400px;
	margin:1.5em auto 0;
	border:2px solid #aaa;
  background-color: #fff;
	z-index:3;
  position:fixed;
  display: none;
}


 #modal-actionmenu{
   width: 200px;
   height: 100%;
   padding-top: 50px;
   background-color: rgba(50, 50, 50, 0.5);
   position:fixed;
   display:none;
   top:60px;
   z-index: 3;
 }

 #modal-overlay{
 	z-index:2;
 	display:none;
 	position:fixed;
 	top:0;
 	left:0;
 	width:100%;
 	height:120%;
 	background-color:rgba(0,0,0,0.75);
 }

#modal-feedback-screen{
  width: 320px;
  height: 350px;
  z-index: 3;
  position: fixed;
  background-color: rgba(230, 230, 230, 1.0);
  box-shadow: 3px 3px 10px 3px rgba(150,150,150,1);
  display: none;
}


#modal-feedback-screen textarea{
  resize: none;
  width:100%;
  height: 250px;
  box-shadow: none;
  border:none;
  border-bottom: solid 1px #000;
  background-color: rgba(230, 230, 230, 1);
  font-size: 15px;
  margin-top: 55px;
}

#modal-feedback-screen textarea:focus{
  outline: none;
}


.feedback-title{
  width: 320px;
  color: #fff;
  font-weight: 200;
  padding: 15px 0 15px 10px;
  font-size: 18px;
  background-color: rgba(80, 30, 20, 1);
  box-shadow: 1px 1px 1px 1px rgba(150,150,150,1);
  position: fixed;
}

#modal-feedback-screen input{
  margin: 5px 20px 5px 0;
  float: right;
  font-size: 20px;
  color: rgba(70, 20, 10, 1);
  border: none;
  text-shadow: 1px 1px 1px #808080;
}

#modal-feedback-screen button{
  position: fixed;
  margin-left: 300px;
  color:rgba(250,250,250,1.0);
  font-size:20px;
}

#modal-setup-screen{
  height: 550px;
  width: 350px;
  display: none;
  position: fixed;
  z-index: 3;
  background-color: rgba(220,220,220,1.0);
}

.setup-title{
  font-size: 15px;
  margin: 20px 15px 20px 15px;
  font-weight: 400;
}
#modal-setup-screen img{
  width: 180px;
  height: 160px;
  margin: 0 85px;
}

.setup-submit input{
  float: right;
  background-color: rgba(100,100,100,1.0);
  color: #fff;
  background-size: 25px;
}
.setup-textarea input:focus{
  outline: none;
}

.setup-textarea input{
  width: 80%;
  height: 30px;
  resize: none;
  margin-left: 30px;
  margin-right: 30px;
  background-color: #fff;
}
.setup-textarea li{
  margin-top: 20px;
}
.setup-textarea p{
  font-size: 13px;
  margin-left: 30px;
}

.setup-name input{
  width: 80%;
  height: 30px;
  margin: 10px 30px 0;
  resize: none;
  box-shadow: none;
  border:none;
  border-bottom: solid 5px #fff;
  background-color: rgba(230, 230, 230, 1);
  font-size: 15px;
}

/* 検索ボックス */
dl.searchbox{
  width: 400px;
  position:fixed;
  background-color:#fff;
  border:1px solid #aaa;
  border-radius:6px;
  margin-left: 450px;
  margin-top: 10px;
}
dl.searchbox dt{
  padding:3px;
}
dl.searchbox dt input{
  width:70%;
  height:30px;
  line-height:30px;
  background:none;
  border:none;
}
dl.searchbox dd{
  position:absolute;
  top:0px;
  right:0px;
  width:30%;
}
.search-btn{
  display:block;
  background:#5fad35;
  width:100%;
  height:36px;
  line-height:36px;
  border:none;
  border-radius: 0 6px 6px 0;
  color:#FFF;
}

.search-btn:hover {
  background:#228B22;
}

#modal-login-form{
  height: 550px;
  width: 350px;
  display: none;
  position: fixed;
  z-index: 3;
  background-color: rgba(220,220,220,1.0);
}
.logout-button input{
  width: 60px;
  height: 60px;
}
 /* top ================================ */

 .top-main {
   padding: 200px 0 100px;
   text-align: right;
   position: absolute;
   top: 0;
   width: 100%;
   height: auto;
   min-height: 100%;
   color: blue;

   background-color: rgba(230, 230, 230, 1) ;
   background-repeat: no-repeat;
   background-position: center 50%;
   background-size: cover;
   background-image: url("/top.jpg");
 }

 .top-message {
   position: relative;
 }

 .top-main h2 {
   font-size: 70px;
   font-weight: 500;
   line-height: 1.3;
   -webkit-font-smoothing: antialiased;
   margin-bottom: 20px;
 }

 .top-main p {
   font-size: 24px;
 }

 .home-top{
   background-color: white;
   height: 80px;
   padding: 180px 0 100px 0;
 }

.top-favorite{
  font-size: 20px;
  height: 40px;
  width: 100%;
  background-color: rgba(150, 150, 150, 0.8);
}

.modal-main-content{
}

.modal-main-content-detail{
  width:550px;
  height: 580px;
  padding: 20px;
	border:2px solid #aaa;
  background-color: #fff;
	z-index:3;
  position: fixed;
  display: none;
  border-radius: 30px;
}
.main-content-set{
  position: relative;
}

.content-detail{
  width: 500px;
  position: relative;
  word-break : break-all;
  height: 490px;     /* 高さを制限(※) */
  overflow: scroll;  /* スクロールバーを表示(※) */
  background-color: #fff; /* 背景色を追加 */
  margin-left: 5px;
  margin-top: 10px;
}
.datail-title{
  font-size: 25px;
}

.datail-text{
  font-size: 18px;
  line-height: 20px;
  margin-top: 20px;
}
.content-datail-footer{
  position: absolute;
  top: 500px;
  left: 5px;
}

.content-detail-borderline{
  width: 490px;
  border: none;
  border-top: 1px #000000 solid;
  margin: 0 5px;
}

.modal-p{
	margin-top:1em;
}

.modal-p:first-child{
	margin-top:0;
}


.top-main-content-group{
  float: left;
}

.content-heading{
  font-size: 25px;
  margin: 20px 0 10px 30px;
}

.top-main-content li{
  width: 230px;
  height: 200px;
  background-color: #fff;
  float: left;
  margin: 0 0 50px 20px;
  box-shadow: 3px 3px 10px 3px rgba(150,150,150,1);
  display: inline-block;
  padding-left: 3px;
  position: relative;
}


.main-content-title{
  font-size: 23px;
  word-break : break-all;
  line-height: 28px;
  margin: 10px 5px 0 5px;
  width: 220px;

}
.main-content-text{
  font-size: 18px;
  word-break : break-all;
  margin: 0 5px;
  width: 220px;
  line-height: 20px;
  position: absolute;
  top: 70px;
}
.main-content-footer{
    position: absolute;
    top: 160px;
    width: 95%;
}
.handshake-image img{
  height: 30px;
  width: 30px;
  margin:5px 10px 5px 10px;
}
.main-content-borderline {

  border: none;
  border-top: 1px #000000 solid;
}
/* Q&A ================================ */

.qa{
  margin-top: 100px;
  font-size: 30px;
}
.syncer-acdn-parent
{
	width: 1000px ;
  margin-left: 110px;
  margin-top: 100px;
}

.syncer-acdn
{
	display: block ;
	padding: 8px 0 ;
	font-weight: 500 ;
	color: #FFF ;
  background-color: rgba(70, 20, 10, 1);
  margin-bottom: 10px;
}

.syncer-acdn-child
{
	display: none ;
  margin-top: 10px;
  color: #000;
  background-color: rgb(200, 200, 200);
  padding: 20px 0 20px 0;
}

.syncer-acdn-parent a
{
  font-size:16px;
  height: 60px;
  padding-left: 40px;
}
.question-question{
  margin-left: 30px;
}

.question-question li{
  margin-bottom: 10px;
}
/* mail ================================ */
.ml{
  text-align: left;
  margin-left: 70px;
  margin-top: 100px;
  font-size: 30px;
}
.mail-datail li{
  margin-left: 40px;
  margin-right: 40px;
  font-size: 15px;
}

.mail-list{

                  color: #fff;
                  text-align: left;
                  padding: 20px;
                  background-color: rgba(70, 20, 10, 1);
                  display: block;

}

.mail-of-text{
  display: none;
  color: #000;
  background-color: #fff;
  padding: 20px;
 }

 .btn-flat-simple {
   position: fixed;
   display: inline-block;
   font-weight: bold;
   padding: 20px;
   margin-left:1100px;
   text-decoration: none;
   color: #fff;
   background: rgba(100,100,100,0.6);
   transition: .4s;
   font-size: 15px;
 }

 .btn-flat-simple:hover {
   cursor: pointer;
   background: rgba(50,50,50,0.6) ;
   color: white;
 }

.mail-of-text-test{
  width: 300px;
  height: 300px;
  display:none;
  background-color: #fff;
  z-index: 3;
  position: relative;
}


 /* community ================================ */


.community-button img{
 width: 60px;
 height: 50px;
 margin:5px 0;
}



.create_account{
  height: 550px;
  width: 350px;
  position: fixed;
  z-index: 3;
  background-color: rgba(220,220,220,1.0);
}

 /* about ================================ */
/*
 .about-main {
   padding: 180px 8% 0;
   color: white;
 }

 .about-main h2 {
   font-size: 64px;
   font-weight: 500;
   line-height: 1.4;
 }

 .about-main p {
   font-weight: 200;
   font-size: 20px;
 }

 .about-img {
   width: 84%;
 }
*/
 /* フォーム================================ */
/*
 .form {
   max-width: 600px;
   margin: 0 auto;
   background-color: white;
   box-shadow: 0 2px 6px #c1ced7;
 }

 .form-heading {
   font-weight: 300;
   margin: 60px 0 20px;
   font-size: 48px;
   color: #bcc8d4;
 }

 .form-body {
   padding: 30px;
 }

 .form-error {
   color: #ff4d75;
 }

 .form input {
   width: 100%;
   border: 1px solid #d8dadf;
   padding: 10px;
   color: #57575f;
   font-size: 16px;
   letter-spacing: 2px;
   border-radius: 2px;
 }

 .form textarea {
   width: 100%;
   min-height: 110px;
   font-size: 16px;
   letter-spacing: 2px;
 }

 .form input[type="submit"] {
   background-color: #3ecdc6;
   color: white;
   cursor: pointer;
   font-weight: 300;
   width: 120px;
   border-radius: 2px;
   margin-top: 8px;
   margin-bottom: 0;
   float: right;
 }

 .form-body:after {
   content: '';
   display: table;
   clear: both;
 }
*/
 /* フラッシュ ================================ */
 /*
 .flash {
   padding: 10px 0;
   color: white;
   background: rgb(251, 170, 88);
   text-align: center;
   position: absolute;
   top: 64px;
   z-index: 10;
   width: 100%;
   border-radius: 0 0 2px 2px;
   font-size: 14px;
 }
*/
